* {
  font-family: 'Raleway', sans-serif;
}

.card img {
  height: 280px;
  width: 100%;
}

.navbar-brand{
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

.btn{
  background-color: #A04E85;
  border-color: #5b2c4b;
  color: white;
}

.btn:hover{
  background-color: #C1A7B7;
  color: white;
}

.btn:active{
  background-color: #C1A7B7;
  color: white;
}

.btn:focus {
  background-color: #C1A7B7;
  border-color: #5b2c4b;
  color:white;
  box-shadow: 2px 2px 2px 2px #C1A7B7;
} 
/* .btn:visited,
.btn:hover,
.btn:active,
.btn:focus {
  background-color: #C1A7B7;
  border-color: #5b2c4b;
} */
