.card img {
  height: 280px;
  width: 100%;
}

.btn-primary {
  background-color: #A04E85;
  border-color: #5b2c4b;
}

.btn-primary:link, .btn-primary:visited, .btn-primary:hover, .btn-primary:active, .btn-primary:focus{
  background-color:  #C1A7B7;
  border-color: #5b2c4b;
}
